<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Sga\IpRedirect\Api\Data\LocationInterface" type="Sga\IpRedirect\Model\Location" />

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">

                <item name="Sga\IpRedirect\Api\Data\LocationInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">sga_ipredirect_location</item>
                    <item name="identifierField" xsi:type="string">location_id</item>
                </item>

            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ipredirect_update" xsi:type="object">Sga\IpRedirect\Console\Command\Update</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Sga\IpRedirect\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/ipredirect.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="Sga\IpRedirect\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">IpRedirect Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Sga\IpRedirect\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Sga\IpRedirect\Observer\Redirect">
        <arguments>
            <argument name="logger" xsi:type="object">Sga\IpRedirect\Logger\Logger</argument>
        </arguments>
    </type>
</config>
