<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ipredirect>
            <general>
                <enabled>0</enabled>
                <exclude_search_engines>1</exclude_search_engines>
                <exclude_search_engine_names><![CDATA[adsbot-google
googlebot
mediapartners-google
aolbuild,
baidu
bingbot
bingpreview
msnbot
duckduckgo
teoma
slurp
yandex]]></exclude_search_engine_names>
            </general>
        </ipredirect>
    </default>
</config>
